<section id="topbar">
  <div class="container-fluid">
    <div class="row">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">WBN</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" routerLinkActive="active" routerLink="/food">Food <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/education">Education</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/health">Health</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/society">Society</a>
            </li>
          </ul>

        </div>
      </nav>
      <!-- <div class="col-lg-2">
        Logo
      </div>
      <div class="col-lg-8">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active" href="#">Food</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Health</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Society</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-2">
        <ul class="login-signup-box">
          <li style="margin-right:10px" >
            <button style="width: 100px;">Login</button>
          </li>
          <li >
            <button style="width: 100px;">Signup</button>
          </li>
        </ul>
      </div> -->



    </div>
  </div>


</section>
