<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1>Welcome to We Build Nation </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
        <app-topbar></app-topbar>
    </div>


  </div>
  <div class="row">
    <div class="col-12">
      <router-outlet></router-outlet>
      <!-- <app-layout></app-layout> -->
    </div>

  </div>
  <div class="row">
    <div class="col-12">
      <app-footer></app-footer>
    </div>

  </div>



</div>

